/* NAVBAR */
.dashboard-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111827;
    color: white;
    padding: 15px 25px;
}

.dashboard-navbar .nav-links {
    display: flex;
    gap: 10px;
}

.dashboard-navbar button {
    background: #374151;
    border: none;
    padding: 8px 12px;
    color: white;
    border-radius: 6px;
}

.dashboard-navbar .logout {
    background: #ef4444;
}

/* MAIN */
.dashboard {
    text-align: center;
    padding: 40px 20px;
}

.dashboard-subtitle {
    color: #6b7280;
    margin-bottom: 25px;
}

/* SEARCH */
.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box input {
    padding: 10px;
    width: 250px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.search-box button {
    padding: 10px 15px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 6px;
}

/* RESULT CARD */
.result-card {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin-inline: auto;

    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.download-btn {
    margin-top: 15px;
    background: #10b981;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
}

/* ERROR */
.error {
    color: red;
    margin-top: 10px;
}