/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 50px;

  background: linear-gradient(135deg, #e3e5eb, #576586);
  color: white;

  position: sticky;
  top: 0;
  z-index: 1000;

  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

/* LOGO */
.logo img {
  width: 150px;
  cursor: pointer;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a,
.nav-btn {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
}

/* HOVER EFFECT */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #facc15;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover,
.nav-btn:hover {
  color: #facc15;
}

/* LOGOUT COLOR */
.logout {
  color: #f87171;
}

/* HAMBURGER */
.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* ========================= */
/* 📱 MOBILE */
/* ========================= */

@media (max-width: 768px) {

  .navbar {
    padding: 12px 20px;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 65px;
    right: 0;
    width: 220px;

    background: linear-gradient(135deg, #e3e5eb, #576586);

    flex-direction: column;
    align-items: center;
    gap: 15px;

    padding: 20px 0;

    border-radius: 0 0 10px 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;

    transition: all 0.3s ease;
  }

  .nav-links.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .nav-links a,
  .nav-btn {
    color: #1e293b;
  }

  .logout {
    color: #ef4444;
  }
}